@import '~node_modules/modern-normalize/modern-normalize.css';
// Utils
@import './utils/variables';
@import './utils/mixins';
@import './utils/common';
@import './utils/container';
@import './utils/tui-pagination';

//Layout
@import './layout/header-homepage';
@import './layout/main';
@import './layout/footer';
@import './layout/preview-modal';
@import './layout/trailer';
@import './layout/header-library';

//Components
@import './components/header-homepage-responsive';
@import './components/card-overlay';
@import './components/empty-library'
