:root {
    --main-accent-color: #FF6B01;
    --pure-white-color: #FFFFFF;
    --main-text-color:#000000;
    --secondary-text-color: #545454;
    --footer-bg-color: #F7F7F7;
    --secondary-accent-color: #FF001B;

    --header-background: rgba(0, 0, 0, 0.56);
    --overlay-background: #1a0f10d8;
}