<div class="modal">
    <button class="modal__btn-close" type="button">
        x
    </button>
    <img src="https://image.tmdb.org/t/p/w500{{this.poster_path}}"
         alt="photo-of-films" 
         class="modal__img"
         width="500" 
        >
    <div class="modal__wrap-info">
        <h1 class="modal__title">
            {{this.original_title}}
        </h1>
        <div class="modal__wrap-descr">
            <div class="modal__wrap-caption">
                <p class="modal__caption">Vote / Votes</p>
                <p class="modal__caption">Popularity</p>
                <p class="modal__caption"> Original Title</p>
                <p class="modal__caption"> Genre</p>
            </div>
            <div class="modal__wrap-value">
                <p class="modal__value"><span>7.3</span> / 1260</p>
                <p class="modal__value">100.2</p>
                <p class="modal__value"> {{this.original_title}}</p>
                <p class="modal__value">Western</p>
            </div>
        </div>
        <h2 class="modal__about">
            About
        </h2>
        <p class="modal__text">
            {{this.overview}}
        </p>
        <div class="wrap-btn">
            <button class="btn-add-watched" type="button">add to watched</button>
            <button class="btn-add-queue" type="button">add to queue</button>
        </div>
    </div>
</div>