<header class="header-background">
  <div class="header">
    <nav class="nav_group">
      <div class="logo-group">
      <a href="./index.html" class="logo-group_link" aria-label="Site logo">
        <svg role="img" width="24px" height="24px" class="header_icon-film">
        <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <p class="logo-filmoteka">Filmoteka</p>
        </a>
     </div>
      <ul class="header_nav-list">
        <li>
          <a href="./index.html" class="header_nav-link-current">Home</a>
        </li>
        <li>
          <a href="./library.html" class="header_nav-link">My library</a>
        </li>
      </ul>
   </nav>
   <form ty class="search-form">
   <input class="header_search-input" placeholder="Movie search" type="text" autocomplete="off">
    <button type="submit" class="homepage_search-btn">
      <svg role="img" width="12px" height="12px" class="header_icon-search">
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
    </button>
   </form>
  </div>
</header>