<section>
  <div class="gallery container">
    <div class="gallery_card_position">
      <img src="./images/Rectangle14.jpg" alt="movie" class="gallery_img" />
      <p class="card_name">LITTLE WOMEN</p>
      <p class="card_descr">
        Drama | 2019<span class="card_rating">10.0</span>
      </p>
    </div>
    <div class="gallery_card_position">
      <img src="./images/Rectangle14.jpg" alt="movie" class="gallery_img" />
      <p class="card_name">LITTLE WOMEN</p>
      <p class="card_descr">Drama | 2019</p>
    </div>
    <div class="gallery_card_position">
      <img src="./images/Rectangle14.jpg" alt="movie" class="gallery_img" />
      <p class="card_name">LITTLE WOMEN</p>
      <p class="card_descr">Drama | 2019</p>
    </div>
    <div class="gallery_card_position">
      <img src="./images/Rectangle14.jpg" alt="movie" class="gallery_img" />
      <p class="card_name">LITTLE WOMEN</p>
      <p class="card_descr">Drama | 2019</p>
    </div>
    <div class="gallery_card_position">
      <img src="./images/Rectangle14.jpg" alt="movie" class="gallery_img" />
      <p class="card_name">LITTLE WOMEN</p>
      <p class="card_descr">Drama | 2019</p>
    </div>
    <div class="gallery_card_position">
      <img src="./images/Rectangle14.jpg" alt="movie" class="gallery_img" />
      <p class="card_name">LITTLE WOMEN</p>
      <p class="card_descr">Drama | 2019</p>
    </div>
    <div class="gallery_card_position">
      <img src="./images/Rectangle14.jpg" alt="movie" class="gallery_img" />
      <p class="card_name">LITTLE WOMEN</p>
      <p class="card_descr">Drama | 2019</p>
    </div>
  </div>
</section>
