<div class="visually-hidden backdrop_students modal-students">
  <div class="modal-students_container">
    <button class="modal__btn-close" type="button">
      <svg class="btn-close-icon" width="30" height="30">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal_students-title">Our talanted team</p>
    <ul class="modal-students_list">
      <li class="modal_team-card">
        <img
          src="./images/team/volodymyr.jfif"
          width="90"
          height="90"
          alt="Volodymyr"
          class="modal_team-img"
        />
        <p class="modal_team-card_name">Volodymyr Babych</p>
        <p class="modal_team-card_position">Team lead</p>
        <a href="https://github.com/VDBabych">
          <svg width="30" height="30" class="icon_team-github">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="modal_team-card">
        <img
          src="./images/team/olha.jfif"
          width="90"
          height="90"
          alt="Olha"
          class="modal_team-img"
        />
        <p class="modal_team-card_name">Olha Prymak</p>
        <p class="modal_team-card_position">Scrum-master</p>
        <a href="https://github.com/peckeby">
          <svg width="30" height="30" class="icon_team-github">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="modal_team-card">
        <img
          src="./images/team/tania.jfif"
          width="90"
          height="90"
          alt="Tetiana"
          class="modal_team-img"
        />
        <p class="modal_team-card_name">Tetiana Kovalenko</p>
        <p class="modal_team-card_position">Developer</p>
        <a href="https://github.com/Tetiana-V-Kovalenko">
          <svg width="30" height="30" class="icon_team-github">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="modal_team-card">
        <img
          src="./images/team/ihor.jfif"
          width="90"
          height="90"
          alt="Ihor"
          class="modal_team-img"
        />
        <p class="modal_team-card_name">Ihor Semenov</p>
        <p class="modal_team-card_position">Developer</p>
        <a href="https://github.com/SemenovIhor">
          <svg width="30" height="30" class="icon_team-github">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="modal_team-card">
        <img
          src="./images/team/danil.jfif"
          width="90"
          height="90"
          alt="Daniel"
          class="modal_team-img"
        />
        <p class="modal_team-card_name">Daniel Slavnyi</p>
        <p class="modal_team-card_position">Developer</p>
        <a href="https://github.com/Daniel-Slavnyi">
          <svg width="30" height="30" class="icon_team-github">
            <use href="./images/icons.svg#icon-github"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
