.header-library__container {
    padding-top: 40px;
    padding-bottom: 60px;

    background-image: url(../images/header-library/s_header-library@2x.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/header-library/s_header-library@2x.jpg);
        }

    @media (min-width: 768px) {
        background-image: url(../images/header-library/m_header-library@1x.jpg);
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/header-library/m_header-library@2x.jpg);
        }
    }
    
    @media (min-width: 1280px) {
        background-image: url(../images/header-library/l_header-library@1x.png);
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/header-library/l_header-library@2x.png);
        }
    }
}

.header-library__nav {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    
    text-transform: uppercase;
    color: var(--pure-white-color);
}

.header-library__btn {
    padding-top: 14px;
    padding-bottom: 12px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;

    color: var(--pure-white-color);
    background-color: transparent;
    width: 130px;

    border: 1px solid var(--pure-white-color);
    border-radius: 5px;

    @media (min-width: 768px) {
        width: 150px;
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

.header-library__btn:active {
    color: var(--pure-white-color);
    background-color: var(--main-accent-color);
    border: 1px solid var(--main-accent-color);
    border-radius: 5px;
}


.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    
    right: 0px;
    bottom: -3px;
            
    background-color: var(--secondary-accent-color);

}

.header-library__logo {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    
    color: var(--pure-white-color);
}

.header-library__logo-nav-position {
    display: flex;
    justify-content: space-between;
}

.header-library__logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-library__nav-position {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-library__btn-position {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 62px;

    @media (min-width: 768px) {
        gap: 32px;
    }

    @media (min-width: 1280px) {
        gap: 16px;
    }
}

.header-library__logo-text {
    display: none;

    @media (min-width: 768px) {
        display: contents;
    }
}