@keyframes zoom {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes outzoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.2);
  }
}

@keyframes fade {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.753);
  }
}

.btn-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 220;
  background-color: transparent;
  fill: var(--main-accent-color);
  border: 1px solid var(--main-accent-color);
  border-radius: 5px;
}

.btn-minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 20px;
  z-index: 220;
  background-color: transparent;
  fill: var(--main-accent-color);
  border: 1px solid var(--main-accent-color);
  border-radius: 5px;
}

.arrow-btn {
  fill: inherit;
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 1;
  animation: fade 2s linear forwards;
  transition: all 1s ease;

  @media screen and (max-width: 767px) {
    overflow: scroll;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__img {
  border-radius: 5px;
  width: 240px;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
  }
}

.modal {
  position: absolute;
  animation: zoom 0.3s linear forwards;
  padding: 48px 20px 40px;
  // top: 20px;
  // left: 50%;
  // transform: translateX(-50%);
  // transform-origin: center;

  min-width: 280px;
  width: 90%;
  opacity: 1;
  font-weight: 500;
  font-family: 'Roboto';
  background-color: var(--pure-white-color);
  transition: all 1s ease;

  @media screen and (min-width: 480px) {
    width: 460px;
  }

  @media screen and (min-width: 768px) {
    width: 740px;
    // top: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    padding: 40px 72px 40px 36px;
    gap: 68px;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    padding: 40px 12px;
    gap: 16px;
  }
}

.modal__btn-close {
  background: transparent;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: all 0.5s ease;
}

.btn-close-icon {
  stroke: #000000;
  transition: all 0.5s ease;
}

.btn-close-icon:hover {
  stroke: var(--main-accent-color);
  transform: rotate(180deg);
}


.modal__img {
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin: 0;
    height: auto;
  }
}

.modal__wrap-info {
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.modal__title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(23 / 20);

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

.modal__wrap-descr {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal__wrap-caption {
  margin-right: 39px;
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    margin-right: 80px;
  }
}

.modal__caption {
  line-height: calc(16 / 12);

  color: #8c8c8c;
}
.modal__caption:not(:last-child) {
  margin-bottom: 8px;
}

.modal__value {
  color: #000000;
}

.orig-title {
  text-transform: uppercase;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.genres {
  width: 100px;
}
.modal__value .actent-color {
  display: inline-block;
  background-color: var(--main-accent-color);
  color: var(--pure-white-color);
  padding: 1px 10px;
  line-height: calc(14 / 12);
  border-radius: 5px;
}
.modal__value:not(:last-child) {
  margin-bottom: 8px;
}

.value-flex {
  display: flex;
  flex-wrap: wrap;
}

.modal__about {
  font-weight: 500;
  margin-bottom: 8px;
}

.modal__text {
  line-height: calc(20 / 12);
}

.wrap-btn {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.btn-add-watched,
.btn-add-queue,
.btn-trailer {
  display: block;
  width: calc((100% - 40px) / 3);
  min-height: 44px;

  font-family: 'Roboto';

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  border-radius: 5px;
  

  @media screen and (min-width: 768px) {
    width: calc((100% - 40px) / 3);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 40px) / 3);
  }
}

.btn-add-watched,
.btn-add-queue,
.btn-trailer {
  border: 1px solid black;
  background-color: var(--pure-white-color);
  box-shadow: -7px -7px 20px 0px rgba(155, 154, 154, 0.473),
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
   border: none;
   background: transparent;
   position: relative;
}

.btn-help {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  border-radius: 5px;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-add-watched:hover .btn-help {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-add-queue:hover .btn-help {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-trailer:hover .btn-help {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-add-watched:active {
  top: 2px;
}
.btn-add-queue:active {
  top: 2px;
}
.btn-trailer:active {
  top: 2px;
}

.btn-add-active {
  font-weight: 500;
  border: none;
  color: var(--pure-white-color);

  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}

.btn-add-active-dark {
  font-weight: 500;
  border: none;
  color: var(--pure-white-color);

  background: linear-gradient(0deg, rgb(140, 0, 255) 0%, rgb(251, 2, 238) 100%);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
}

.modal-icon-close {
  fill: #000000;
}

// ===============================================================================
